body{
	font-family: arial;
	/*font-size: 10px;*/
	padding: 0;
	margin: 0;
}

.main{
	background: transparent url("../img/Index1.png") center center;
	height: 900px;
	display: block;
	background-size: auto 100%;
}

.navbar-default.sokol{
	padding-top: 15px;
	background:transparent;
	font-size: 15px;
	border: none;
	border-color: transparent;
}
.navbar-default.sokol .container.topnav{
	padding-right: 100px;
	padding-left: 100px;
}
.navbar-nav.navbar-right .enter{
	background: transparent url("../img/enter.png") no-repeat left center;
	padding-left: 10px; 
}
.navbar-default.sokol .navbar-nav > li > a,
.navbar-default.sokol .navbar-nav > li > a:hover
{
	color: white;
	cursor: pointer;
}
.navbar-default.sokol .navbar-nav > li > a:hover{
	text-decoration: underline;
}
.services .yellow-line{
	margin-top: 55px;
	background-color: #f1cb30;
	display: block;
	height: 17px;

}
.services .yellow-line .text{
	background-color:  #eee;
	display: inline-block;
	padding-right: 15px;
	margin-top:  -5px;
	padding-left: 15px;
	font-size: 20px;	
}

.our-services{
	background-color: #adc73a;
	display: block;
	margin-top: 50px;
	height: 600px;
	padding-top: 55px; 
}
.our-services .header{
	color: white;
	font-size: 40px;
	padding-bottom: 70px;

}

.our-services .col1{
	background: transparent url("../img/Icon1.png") no-repeat center top;
}

.our-services .col2{
	background: transparent url("../img/Icon2.png") no-repeat center top;
}

.our-services .col3{
	background: transparent url("../img/Icon3.png") no-repeat center top;
}

.our-services .col1,
.our-services .col2,
.our-services .col3{
	padding-top: 260px;
}

.our-services .col-md-4.col1   p,
.our-services .col-md-4.col2   p,
.our-services .col-md-4.col3   p{
	color: white;
	font-size: 14px;

}

.try-it{
	background: transparent url("../img/sunset.jpg") center center;
	background-size: 100%;
	display: block;
	min-height: 600px;
	overflow-y: auto;
	margin-top: 70px; 
	padding-top: 120px;
}

.try-it-now{
	color: white;
	font-size: 40px;
}

.try-it .enter{
	color: white;
	display: block;
	font-size: 60px;
	font-weight: bold;	
	margin-top: 30px;
}
.try-it .enter span{
	display: block;
	font-weight: normal;
	font-size: 18px;
	margin-top: -7px; 
}

.footer{
	background-color: #251d16;
	display: block;
	margin-top: 75px; 
	height: 300px;
	padding-top: 30px;
}
.footer .navbar-default{
	background-color: transparent;
	border: none;
}
.footer .navbar-default a,
.footer .navbar-default a:hover{
	color: white;
	font-size: 16px;
}
.footer .navbar-default a:hover{
	text-decoration: underline;
}
.footer .copyright{
	color: white;
	font-size: 14px;	
}
.footer .social{
	display: block;
	height: 61px;
	margin-bottom: 75px;
}

.footer .social .net1,
.footer .social .net2,
.footer .social .net3,
.footer .social .net4{
	background-size: 100%;
	height: 60px;
	width: 60px;
	display: inline-block;
	margin-left:5px; 
}

.footer .social .net1{
	background: transparent url("../img/img1.png") center center;
}
.footer .social .net2{
	background: transparent url("../img/img2.png") center center;
}
.footer .social .net3{
	background: transparent url("../img/img3.png") center center;
}
.footer .social .net4{
	background: transparent url("../img/img4.png") center center;
}
